#app {
  background-color: #fff;
}
.goma-planing-scope {
  position: relative;
  width: 260px;
  height: 360px;
  padding-top: 45px;
  border-radius: 2px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 15px hsla(0, 0%, 0%, 0.1);
  transform-origin: 100% 0%;
  animation: show-planning-module 340ms forwards;
  font-size: 16px;
  overflow: hidden;
  transition: all 170ms;
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }

  .navbar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .tag-btn {
      position: relative;
      float: left;
      height: 45px;
      line-height: 42px;
      text-align: center;
      overflow: hidden;
      cursor: default;
      font-size: 14px;

      &.active {
        font-size: 16px;
        font-weight: bold;
      }
    }
    &:after {
      clear: both;
      display: block;
      content: "";
    }
    .navbar-pointer {
      position: absolute;
      bottom: 0;
      height: 0;
      transition: all 170ms;

      &::before {
        content: "";
        position: absolute;
        top: -12px;
        left: 50%;
        margin-left: -6px;
        border-style: solid;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-width: 6px;
      }
    }
  }
  .task-list-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 230ms;

    .task-list {
      height: 100%;
      overflow: auto;
      padding: 4px;
      color: #fff;

      & > div:last-child {
        margin-bottom: 40px;
      }
    }
    .task-item-wrap {
      font-size: 14px;
      padding-left: 30px;
      position: relative;
      background-color: rgba(255, 255, 255, 0.1);
      opacity: 0;
      animation: fade-in-task-item 130ms forwards;
      cursor: default;
      user-select: none;
      -moz-user-select: none;
      border-radius: 5px;
      margin-bottom: 2px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      .check-box {
        position: absolute;
        left: 0;
        top: 50%;
        width: 14px;
        height: 14px;
        border-radius: 3px;
        margin-top: -7px;
        margin-left: 8px;
        border: 1px solid #fff;
      }
      p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.9em;
        line-height: 2.7;
      }
      .date {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.8em;
        line-height: 3.2em;
        padding-right: 0.8em;
      }
    }
  }
  .add-task-wrap {
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 16px;
    transition: all 230ms;

    .add-task-input-wrap {
      padding-right: 2.5em;
      background-color: #fff;

      .add-task-input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        -webkit-appearance: none;
        border: none;
        height: 2.5em;
        font-size: 1em;
        color: hsl(0, 0%, 20%);
        font-family: sans-serif, "微软雅黑", serif;
        text-indent: 1em;
        background-color: transparent;
        &::-webkit-input-placeholder {
          color: #ababab;
        }
        &::-moz-placeholder {
          color: #ababab;
        }
        &:-ms-placeholder {
          color: #ababab;
        }
      }
      .send-task {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5em;
        height: 2.5em;
        color: #333;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom: transparent;
          border-width: 10px;
          border-top-width: 6px;
          border-bottom-width: 6px;
          border-style: solid;
          margin-left: -3px;
          margin-top: -5px;
        }
        &:hover {
          cursor: pointer;
          &:before {
            animation: jump-send-task-button 200ms;
          }
        }
      }
    }
  }
  .loading-wrap {
    opacity: 0;
    z-index: 9999;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 330ms;
    &[data-visibility="hidden"] {
      opacity: 0;
    }
    &[data-visibility="visible"] {
      opacity: 1;
    }
    .loading-dot {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      margin-left: -5px;
      background-color: blueviolet;
    }
  }
}
@keyframes jump-send-task-button {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 0;
    transform: translateX(15px);
  }
  51% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes loading-dot {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes show-planning-module {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes fade-in-task-item {
  0% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    max-height: 3em;
    transform: translateY(0px);
  }
}
